{{- $profile := dig "profile" "server" . -}}
{{ if eq $profile "personal" -}}
# ODROID
Host odroid
  User odroid
  ForwardAgent yes

# Proxmox & Docker
Host pve docker
  User root
  ForwardAgent yes
{{- else if eq $profile "work" -}}
Include ~/.colima/ssh_config

Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
