[misc]
first = ["chezmoi"]
{{ if eq .chezmoi.os "darwin" -}}
disable = ["shell", "containers", "pnpm"]
{{ else -}}
disable = ["shell", "containers", "distrobox", "toolbx"]
{{ end -}}
[commands]
"chezmoi upgrade" = "chezmoi upgrade"
